[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/ra135238
[access "refs/for/refs/*"]
	read = group user/ra135238
	push = group user/ra135238
	label-Code-Review = -2..+2 group user/ra135238
	label-Verified = -1..+1 group user/ra135238
	rebase = group user/ra135238
	removeReviewer = group user/ra135238
	submit = group user/ra135238
[access "refs/heads/*"]
	read = group user/ra135238
	create = group user/ra135238
	push = +force group user/ra135238
	pushMerge = group user/ra135238
[access "refs/tags/*"]
	push = +force group user/ra135238
	pushTag = group user/ra135238
	pushSignedTag = group user/ra135238
